@model WebTool.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div style="width:100%;text-align: center;margin: 0 auto;position: absolute;">
    <!-- 登录 -->
    <div id="windows1">
        <div id="loginbox">
            @*<form action="" method="post" name="loginForm" id="loginForm">*@
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "from_horizontal", role = "form" }))
            {
                <br />
                if (Session["KeyStatus"] != null && Session["KeyStatus"] != "OK")
                {
                    <h4 style="color:red;text-align:center">@Session["KeyStatus"]</h4>
                }
                <div class="control-group normal_text">
                    <h3>
                        <img src="~/static/login/logo.png" alt="Logo" />
                    </h3>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_lg">
                                <i><img height="37" src="~/static/login/user.png" /></i>
                            </span><input type="text" name="CName" id="loginname" value="" placeholder="请输入用户名" />
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_ly">
                                <i><img height="37" src="~/static/login/suo.png" /></i>
                            </span><input type="password" name="Password" id="password" placeholder="请输入密码" value="" />
                        </div>
                    </div>
                </div>
                <h4 style="color:#f22510">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                </h4>
                <!--<div style="float:right;padding-right:10%;">
                    <div style="float: left;margin-top:3px;margin-right:2px;">
                        <font color="white">记住密码</font>
                    </div>
                    <div style="float: left;">
                        <input name="form-field-checkbox" id="saveid" type="checkbox" onclick="savePaw();" style="padding-top:0px;" />
                    </div>
                </div>-->
                <div class="form-actions">
                    <div style="width:86%;padding-left:8%;">
                        <div style="float: left;">
                            <i><img src="../static/login/yan.png" /></i>
                        </div>
                        <div style="float: left;" class="codediv">
                            <input type="text" name="securityCode" id="securityCode" class="login_code" style="height:25px;" />
                        </div>
                        <div style="float: left;">
                            <i><img src="@Url.Action("GetSecurityCode","Home")" class="Login_img" title="验证码" /></i>
                            @*<i><img style="height:22px;" id="codeImg" alt="点击更换" title="点击更换" src="" /></i>*@
                        </div>
                        <!--<c:if test="${pd.isZhuce == 'yes' }">
                        <span class="pull-right" style="padding-right:3%;"><a href="javascript:changepage(1);" class="btn btn-success">注册</a></span>
                        </c:if>-->
                        <span class="pull-right"><button class="flip-link btn btn-info" id="to-recover">登录</button></span>
                    </div>
                </div>
            }
            @*</form>*@
            <div class="controls">
                <div class="main_input_box">
                    <font color="white"><span id="nameerr">Copyright  2018</span></font>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="templatemo_banner_slide" class="container_wapper">
    <div class="camera_wrap camera_emboss" id="camera_slide">
        <!-- 背景图片 -->
        <div data-src="../static/login/images/banner_slide_01.jpg"></div>
        <!--<div data-src="static/login/images/banner_slide_02.jpg"></div>
        <div data-src="static/login/images/banner_slide_03.jpg"></div>
        <div data-src="static/login/images/banner_slide_04.jpg"></div>-->
        <div data-src="../static/login/images/banner_slide_05.jpg"></div>
    </div>
    <!-- #camera_wrap_3 -->
</div>
<script type="text/javascript">
    //服务器校验
    function severCheck() {
        if (check()) {
            var loginname = $("#loginname").val();
            var password = $("#password").val();
            var code = loginname + "," + password + "," + $("#code").val();
            $.ajax({
                type: "POST",
                url: 'login_login',
                data: {
                    KEYDATA: code,
                    tm: new Date().getTime()
                },
                dataType: 'json',
                cache: false,
                success: function (data) {
                    if ("success" == data.result) {
                        saveCookie();
                        window.location.href = "<%=basePath%>main/index";
                    } else if ("usererror" == data.result) {
                        $("#loginname").tips({
                            side: 1,
                            msg: "用户名或密码有误",
                            bg: '#FF5080',
                            time: 15
                        });
                        showfh();
                        $("#loginname").focus();
                    } else if ("codeerror" == data.result) {
                        $("#code").tips({
                            side: 1,
                            msg: "验证码输入有误",
                            bg: '#FF5080',
                            time: 15
                        });
                        showfh();
                        $("#code").focus();
                    } else {
                        $("#loginname").tips({
                            side: 1,
                            msg: "缺少参数",
                            bg: '#FF5080',
                            time: 15
                        });
                        showfh();
                        $("#loginname").focus();
                    }
                }
            });
        }
    }

    $(document).ready(function () {
        changeCode1();
        $("#codeImg").bind("click", changeCode1);
        $("#zcodeImg").bind("click", changeCode2);
    });

    $(document).keyup(function (event) {
        if (event.keyCode == 13) {
            $("#to-recover").trigger("click");
        }
    });

    function genTimestamp() {
        var time = new Date();
        return time.getTime();
    }

    function changeCode1() {
        $("#codeImg").attr("src", "code.do?t=" + genTimestamp());
    }

    function changeCode2() {
        $("#zcodeImg").attr("src", "code.do?t=" + genTimestamp());
    }

    //客户端校验
    function check() {

        if ($("#loginname").val() == "") {
            $("#loginname").tips({
                side: 2,
                msg: '用户名不得为空',
                bg: '#AE81FF',
                time: 3
            });
            showfh();
            $("#loginname").focus();
            return false;
        } else {
            $("#loginname").val(jQuery.trim($('#loginname').val()));
        }
        if ($("#password").val() == "") {
            $("#password").tips({
                side: 2,
                msg: '密码不得为空',
                bg: '#AE81FF',
                time: 3
            });
            showfh();
            $("#password").focus();
            return false;
        }
        if ($("#code").val() == "") {
            $("#code").tips({
                side: 1,
                msg: '验证码不得为空',
                bg: '#AE81FF',
                time: 3
            });
            showfh();
            $("#code").focus();
            return false;
        }
        $("#loginbox").tips({
            side: 1,
            msg: '正在登录 , 请稍后 ...',
            bg: '#68B500',
            time: 10
        });

        return true;
    }

    function savePaw() {
        if (!$("#saveid").attr("checked")) {
            $.cookie('loginname', '', {
                expires: -1
            });
            $.cookie('password', '', {
                expires: -1
            });
            $("#loginname").val('');
            $("#password").val('');
        }
    }

    function saveCookie() {
        if ($("#saveid").attr("checked")) {
            $.cookie('loginname', $("#loginname").val(), {
                expires: 7
            });
            $.cookie('password', $("#password").val(), {
                expires: 7
            });
        }
    }

    jQuery(function () {
        var loginname = $.cookie('loginname');
        var password = $.cookie('password');
        if (typeof (loginname) != "undefined" &&
            typeof (password) != "undefined") {
            $("#loginname").val(loginname);
            $("#password").val(password);
            $("#saveid").attr("checked", true);
            $("#code").focus();
        }
    });
</script>
<script src="~/static/login/js/bootstrap.min.js"></script>
<script src="~/static/js/jquery-1.7.2.js"></script>
<script src="~/static/login/js/jquery.easing.1.3.js"></script>
<script src="~/static/login/js/jquery.mobile.customized.min.js"></script>
<script src="~/static/login/js/camera.min.js"></script>
<script src="~/static/login/js/templatemo_script.js"></script>
<script src="~/static/login/js/ban.js"></script>
<script type="text/javascript" src="~/static/js/jQuery.md5.js"></script>
<script type="text/javascript" src="~/static/js/jquery.tips.js"></script>
<script type="text/javascript" src="~/static/js/jquery.cookie.js"></script>

